@charset "utf-8"

*
  margin: 0
  padding: 0
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  line-height: 1.4em
  padding: 1em
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  margin: 0em auto
  max-width: 55em
  min-width: 35em

a
  color: #111

  img
    border-width: 0
    float: left
    margin-right: 0.125em

img
  display: block
  margin: auto

blockquote
  border-left: 1px solid #222
  line-height: 1.125em
  font-size: 0.9em
  font-style: italic
  margin: 1em
  padding-left: 0.55em

code
  font-family: 'DejaVu Sans Mono', 'Courier New', monospace
  font-size: 0.875em

h1, h2, h3, h4, #footer
  font-family: 'grad', serif
  clear: both

h1
  font-size: 1.8em
  line-height: 36px
  margin-bottom: 18px

h2
  font-size: 1.2em
  line-height: 24px
  margin-bottom: 12px
  border-bottom: 1px solid black

h3
  font-size: 1.1em
  line-height: 22px
  margin-bottom: 11px

h4
  font-size: 1em
  line-height: 20px
  margin-bottom: 10px

p, ul, ol
  margin-bottom: 0.9em

ul, ol, dd
  margin-left: 2em

dt
  font-weight: bolder

video
  width: 150px

video.playing
  width: 100%

/* html5 */
header, footer, nav, article
  display: block

.content
  background-color: white

#title
  padding-left: 0.2em
  padding-top: 0.3em

#writing
  font-size: 0.75em
  line-height: 0.875em

#header
  font-family: 'grad', serif
  border-bottom: 3px double black
  
  .project
    float: right
    margin-right: 1em
  
  ol
    list-style-type: none
    padding: 0em
    margin: 0em

  li
    display: inline
    margin-left: 0.1em
    padding: 0.3em 0em 1px

    a
      padding: 0em 1em
      text-decoration: none
  
      &:hover
        text-decoration: underline
        color: black

#footer
  font-size: 0.5em
  text-align: center
  margin-top: 1em

#border
  padding: 1em