h1 Aikuma · #{data.page.title}
#subnavigation
  a href="./index.html" Home
  |·
  a href="./development.html" Development
  |·
  a href="./pilot_project.html" Pilot Project
  |·
  a href="./help.html" Help
