/* line 1, /Users/sb/git/langtech.github.com/stylesheets/aikuma.scss */
img {
  float: left;
  margin: 0.6em 1em 0.6em 0;
}

/* line 7, /Users/sb/git/langtech.github.com/stylesheets/aikuma.scss */
#design img {
  float: none;
}
/* line 9, /Users/sb/git/langtech.github.com/stylesheets/aikuma.scss */
#design .ImageContainer > description {
  float: right;
}
/* line 13, /Users/sb/git/langtech.github.com/stylesheets/aikuma.scss */
#design p {
  position: relative;
  left: 420px;
  top: -782px;
  width: 410px;
}
