<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>
      lp20 | {{ page.title }}
    </title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lp20.css">
    {% if page.css %}
      <link rel="stylesheet" type="text/css" href="/stylesheets/{{ page.css }}.css">
    {% endif %}
    <script language="javascript" type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
  </head>
  <body>
    <div class="content">
      <div id="header">
        {% include header.html %}
      </div>
      <div id="border">
        {{ content }}
      </div>
      <div id="footer">
        <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="license"><img align="middle" alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" style="border-width:0"></a>
      </div>
    </div>
  </body>
</html>
